<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angki.casualread">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.util.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_log"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mvp.ui.activity.ActivityLogo"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.activity.ActivityMain"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mvp.ui.activity.ActivityZhihu"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mvp.ui.activity.ActivityGank"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mvp.ui.activity.ActivityWelfare"
            android:theme="@style/ViewBigPicTheme" />
        <activity
            android:name=".mvp.ui.activity.ActivityAbout"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mvp.ui.activity.ActivityDummy"
            android:theme="@style/AppTheme.Transparent"
            android:screenOrientation="portrait" />
    </application>

</manifest>